@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais */
html, body, #__next {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Remove bullets automáticos herdados */
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
/* Remove QUALQUER marker automático de listas */
li::marker {
  content: '';
}
